version: '3.8'

services:
  # API Gateway
  api-gateway:
    build: ./api-gateway
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=development
      - NOTIFICATION_SERVICE_URL=http://notification-service:4001
      - COMMUNITY_SERVICE_URL=http://community-service:4002
      - LEGACY_SERVICE_URL=http://legacy:4002
    depends_on:
      - notification-service

  # Notification Service
  notification-service:
    build: ./notification-service
    ports:
      - "4001:4001"
    environment:
      - NODE_ENV=development
      - NOTIFICATION_SERVICE_PORT=4001
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=1234
      - DB_NAME=aesp
      - DB_PORT=5432
    depends_on:
      - db

  # Database
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=aesp
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

